html {
    overflow-y: scroll;
    font-family: "Vesper Libre", serif;
    font-weight: 400;
    max-width: 100%;
}



.top {
    height: 1020px;
    width: 100%;
    background: #000000;
    color: white;  
}

#CD  {
height: 500px;
padding-top: 200px;
display: flex;
justify-content: center;

}

#CD-text {
    text-align: center;
    line-height: 1;

}


#sections {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

#CD-text2 {
    padding-top: 40px;
    text-align: center;
    line-height: 2;
}

#CD-text2 a {
   color: white;
   text-decoration: none;
}

#content {
    font-style: italic;

}

.next-track {
    /* padding-top: 50px; */
text-align: center;
/* border: 2px solid pink; */
}

.next-track a {
    color: pink;
    text-decoration: none;
}

.next-track:hover a {

color: deeppink;

}

.meat {

  align-items: center;

}
#album-intro {
    display: flex;
    padding-left: 150px;
    align-items: center;
}



#right-intro {
    display: block;
    justify-content: center;
    padding-left: 200px;
    padding-right: 120px;
    /* padding-top: 30px;
    line-height: 2; */
    /* max-width: 1080px; */
}


#third-row {
    padding-top: 20px;
}
#play-button {
    padding-left:150px ;
    /* padding-top: 50px; */
  
}

.playlist {
    display: flex; 
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 50px;
  }
  
footer {
    display: flex;
    justify-content: center;
}

.logo {
    /* display: flex;
    justify-content: center; */
    position: absolute;
    padding: 50px;
    position: fixed;
}